body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}
.required:after {
    content: " *";
    color: red;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="number"], select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
button {
    padding: 10px 20px;
    background-color: #c60;
    color: white;
    border: none;
    cursor: pointer;
}
button[type="button"] {
    background-color: #666;
}
button:hover {
    opacity: 0.8;
}
.ingredient {
    display: flex;
    gap: 10px;
}
.ingredient input[type="text"], .ingredient input[type="number"], .ingredient select {
    width: auto;
    flex: 1;
}
.form-group {
    margin-bottom: 15px;
    position: relative; 
    padding-bottom: 10px;
    border-bottom: 1px solid #959595;
}

.ingredient {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="text"], input[type="number"], select {
    width: auto;
    flex: 1;
}

.add-button, .remove-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background-color: #c60;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.add-button {
    right: 40px; 
}

.remove-button {
    background-color: #a00; 
}

.add-button:hover, .remove-button:hover {
    opacity: 0.8;
}

#steps {
    height: 200px;
}

input[type="text"] {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
}